@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: var(
    --Primary-Gradient,
    linear-gradient(116deg, #ff8660 71.79%, #9a33ff 95.51%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project {
  background: var(
    --Orange-Gradient,
    linear-gradient(180deg, #ff8660 0%, #d5491d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech-stack {
  background: linear-gradient(
    180deg,
    rgb(137, 114, 114) 0%,
    rgba(0, 0, 0, 0.18) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Add these styles to your CSS or Tailwind CSS file */
.image-container {
  overflow: hidden;
}

.image-container:hover img {
  animation: scrollAnimation 5s linear forwards; /* Adjust the duration as needed */
}

@keyframes scrollAnimation {
  to {
    transform: translateY(
      calc(-100% + 301px)
    ); /* Adjust the value based on the image height */
  }
}

.experience {
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #5badff 0%, #1373d1 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
